<header>
  <div class="title"><a href="/">阿良購物</a></div>
  <div class="search">
    <form action="/">
      <input id="search" type="text" name="productName" required />
      <button class="btn search-btn">
        <img src="/search.png" alt="搜尋" width="30px" height="30px" />
      </button>
    </form>
  </div>
  <div class="cart">
    <button class="cart-btn btn">
      <img src="/icons8-cart-50.png" alt="購物車" width="30px" height="30px" />
      <div style="display :<%= items ?'block':'none'%>">
        <%= items ?items:" "%>
      </div>
    </button>
  </div>
</header>
<script src="/user/index.js"></script>
